.pins {
  column-count: 2;
  padding: 7px;
}

.pin {
  display: inline-block;
  margin: 0 2px 10px;
  padding: 5px;
  background: #f8f8ff;
}

#bG {
  background-color: #EAD5D7 ;
}
ion-content{

  --ion-background-color:#EAD5D7;
}

.margenes{
  margin-top: 30%
}
//#EAD5D7
//#f6f4ef
